html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar{
  margin-top: 0;
  min-width: 100vw;
  background-color: grey ;
  min-height: 30px;
  position: fixed;
  top: 0;
  
}
.navbar ul{
  display: flex;
  margin: 0;
}

.navbar li{
  list-style-type: none;
  padding: 12px;

}
main {
  min-height: 200vh;
  color: aqua;
}
